@user.asset.top()
    <title>Page not found - BitPlus</title>
@user.asset.cssandmeta()
    
  </head>
  <body>
        <div class="span12">
          <div class="error-container">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
              Sorry, an error has occurred, Requested page not found!
            </div>
            <div class="error-actions">
              <a href="/" class="btn btn-success">
                Back to Home          
              </a>
            </div>
        </div>
      </div>

@user.asset.js(None)

  </body>
</html>